body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background-color: #f4f4f9;
    overflow: hidden;
}

h1 {
    color: #333;
    margin: 20px 0;
}

canvas {
    flex: 1;
    max-width: 95%;
    height: 85vh;
    max-height: 90%;
}

.controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

.controls input,
.controls select,
.controls button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.controls button {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

.controls button:hover {
    background-color: #45a049;
}

.hidden {
    display: none;
}

#sensorSelect {
    min-width: 200px; /* Pour avoir assez de place pour le nom et la localisation */
}

@media (max-width: 768px) {
    canvas {
        height: 70vh;
    }

    h1 {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .controls {
        flex-direction: column;
        gap: 5px;
    }
}
